<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
          $("#header").load("./layout/header.html");
          $("#left_menu").load("./layout/left_menu.html");
          $("#footer").load("./layout/footer.html");
        });
    </script>

    <title>Shoong_sub</title>
</head>
<body>
<div id="wrap">
    <!-- 헤더 불러오기 -->
    <div id="header">
        <!-- <th:block th:replace="~{layout/header::header}"></th:block> -->
    </div>

    <!-- 서브 상단 -->
    <div id="sub_top">
        <p>
            <a href="#">홈</a>
            > 
            <a href="#">마이페이지</a>
            > 
            <a href="#">내 일정</a>
        </p>
        <div>관심 계획 목록</div>
    </div>

    <div class="container">
        <div class="inner flex">
            <!-- 좌측 메뉴 불러오기 -->
            <div id="left_menu"></div>
            <!-- 우측 컨텐츠 -->
            <div class="content">

                <div id="my_schedule">
                    <div class="bluebar"></div>
                    <div class="account_top">
                        <h2 class=" my_account_title">내 일정</h2>
                        <div class="my_account_sub_title">관심 계획 목록</div>
                        <select class="array_box">
                            <option value="asc">올림차순</option>
                            <option value="desc">내림차순</option>
                        </select>
                    </div>
                    
                    <!-- 일정 항목들을 담을 곳 -->
                    <div class="schedule_content" id="schedule_list">
                        <div class="schedule_content_item">
                            <!-- 나라이름, 하트 -->
                            <div class="item1">
                                <div class="country_name">일본</div>
                                <div class="like_box">
                                    <img src="../static/images/like_icon.png" alt="">
                                </div>
                            </div>

                            <!-- 도시이름, 3박4일 -->
                            <div class="item2">
                                <div class="city_name">오사카 외 1</div>
                                <div class="nights_and_days">3박4일</div>
                            </div>

                            <!-- 일정기간, 아이디 -->
                            <div class="item3">
                                <div class="travel_period">2024.00.00~2024.00.00</div>
                                <div class="author">appl**님</div>
                            </div>

                            <!-- 블루바 -->
                            <div class="thin_blue_bar"></div>

                            <!-- 인원수, 0명-->
                            <div class="item4">
                                <div class="people_num">인원 수</div>
                                <div class="people_count">2</div>
                                <div class="myeong">명</div>
                            </div>

                            <!-- 회색바-->
                            <div class="thin_gray_bar"></div>

                            <!-- 방문장소, 0개 -->
                            <div class="item5">
                                <div class="place_name">방문장소</div>
                                <div class="place_count">15</div>
                                <div class="gae">개</div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 푸터 불러오기 -->
    <div id="footer">
        <!-- <th:block th:replace="~{layout/footer::footer}"></th:block> -->
    </div>
</div>
</body>