<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
          $("#header").load("header.html");
        });
    </script>

    <title>Shoong</title>
</head>
<body>
<div id="wrap">
    <!-- 헤더 위치 -->
    <div id="header"></div>

    <section>
        <div id="firstwrap">
            <div class="first inner">
                <div class="bigtitle">
                    <p class="bigtitle1">Start your Plan</p>
                    <p class="bigtitle2">with. Shoong</p>
                </div>

                <div class="smalltitle">
                    <p class="smalltitle1">당신이 여행을 계획하고,</p>
                    <p class="smalltitle2">여행 그 이상의 가치를 만들기를 바랍니다.</p>
                </div>

                <div class="bottom-menu">
                    <div class="bottomtitle">
                        <p class="bottomtitle1">어떤 나라의 여행을</p>
                        <p class="bottomtitle1">계획하시고 계신가요?</p>
                    </div>
                    <a href="#">
                        <div class="img1">
                            <div class="img-box">
                                <img src="./images/country1.png" alt="">
                            </div>
                            <p>동남아</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img2">
                            <div class="img-box">
                                <img src="./images/country2.png" alt="">
                            </div>
                            <p>일본</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img3">
                            <div class="img-box">
                                <img src="./images/country3.png" alt="">
                            </div>
                            <p>대양주</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img4">
                            <div class="img-box">
                                <img src="./images/country4.png" alt="">
                            </div>
                            <p>유럽</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img5">
                            <div class="img-box">
                                <img src="./images/country5.png" alt="">
                            </div>
                            <p>미주</p>
                        </div>
                    </a>
                </div>
                <div class="main_arrow">
                    <img src="./images/btn_prev.png" alt="">
                    <img src="./images/btn_next.png" alt="">
                </div>
            </div>
            </div>
            
        </div>
    </section>

    <section>
        <div id="secondwrap">
            <div class="second1">
                <div class="second1-text1">
                    <p class="bold">우리가 그리던 계획, <span class="blue bold">Shoong</span></p>
                </div>
                <div class="second1-text2">
                    <p>결정하기 어렵고 힘들던 여행계획, 슈웅이 도와드립니다!</p>
                </div>
            </div>
            <div class="second2">
                <div class="second2-left">
                    <a href="#">
                        <div class="second2-left-top">
                            <img src="./images/main_banner1.png" alt="">
                        </div>
                        <div class="second2-left-bot">
                            <div class="second2-left-bot-text1">
                                <p class="blue bold">여행계획 구경하기</p>
                            </div>
                            <div class="second2-left-bot-text2">
                                <p>나와 같은 여행지에 가는 사람들은
                                    <br>
                                어떤 계획을 세웠을까 궁금하지 않으신가요?</p>
                            </div>
                            <div class="second2-left-bot-btn">
                                <p>보러가기</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="second2-right">
                    <a href="#">
                        <div class="second2-right-top">
                            <img src="./images/main_banner2.png" alt="">
                        </div>
                        <div class="second2-right-bot">
                            <div class="second2-right-bot-text1">
                                <p class="blue bold">여행후기 구경하기</p>
                            </div>
                            <div class="second2-right-bot-text2">
                                <p>여행을 다녀온 사람들의 후기를 한 눈에!
                                    <br>
                                어떤점이 좋았고, 어떤점이 안좋았을까요?</p>
                            </div>
                            <div class="second2-right-bot-btn">
                                <p>보러가기</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="thirdwrap">
            <div class="third1">
                <div class="third1-text1">
                    <p>우리와 함께하는 Shoong</p>
                </div>
                <div class="third1-text2">
                    <p>슈웅은 고객님들과 함께 여행 문화를 만들어갑니다.</p>
                </div>
            </div>
            <div class="third2">
                <div class="third2-box1">
                    <div class="third2-box1-top">
                        <p>함께 계획한 여행 수</p>
                    </div>
                    <div class="third2-box1-bot">
                        <p>1,682</p>
                        <p> 회</p>
                    </div>
                </div>
                <div class="third2-box2">
                    <div class="third2-box2-top">
                        <p>함께 여행한 고객 수</p>
                    </div>
                    <div class="third2-box2-bot">
                        <p>3,521</p>
                        <p> 명</p>
                    </div>
                </div>
                <div class="third2-box3">
                    <div class="third2-box3-top">
                        <p>남겨주신 여행 후기 수</p>
                    </div>
                    <div class="third2-box3-bot">
                        <p>453</p>
                        <p> 개</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="fourthwrap">
            <div class="fourth1">
                <div class="fourth1-text1">
                    <p>남겨주신 여행 후기, <span class="blue">Review</span></p>
                </div>
                <div class="fourth1-text2">
                    <p>여행을 다녀온 사람들의 후기를 구경하실 수 있습니다.</p>
                </div>
            </div>
            <div class="fourth2">
                <div class="fourth2-img1">
                    <img src="./images/sample_img1.png" alt="">
                    <div class="fourth2-img1-blackbox">
                        <div class="fourth2-img1-text1">
                            <p>유럽</p>
                        </div>
                        <div class="fourth2-img1-text2">
                            <p>2024.04.07 - 2024.05.15</p>
                        </div>
                        <div class="fourth2-img1-text3">
                            <p>(38박 39일)</p>
                        </div>
                    </div>
                </div>
                <div class="fourth2-img2">
                    <img src="./images/sample_img2.png" alt="">
                </div>
                <div class="fourth2-img3">
                    <img src="./images/sample_img3.png" alt="">
                </div>
                <div class="fourth2-img4">
                    <img src="./images/sample_img4.png" alt="">
                </div>
            </div>
            <div class="fourth3">
                <div class="fourth3-img1">
                        <img src="./images/sample_img5.png" alt="">
                </div>
                <div class="fourth3-img2">
                    <img src="./images/sample_img6.png" alt="">
                </div>
                <div class="fourth3-img3">
                    <img src="./images/sample_img7.png" alt="">
                </div>
                <div class="fourth3-img4">
                    <img src="./images/sample_img8.png" alt="">
                </div>
            </div>
            <div class="fourth4">
                <div class="fourth4-btn">
                    <a href="#"><p>더보기</p></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footerwrap">
            <div class="footer-logo">
                <img src="./images/footer_logo.png" alt="">
            </div>
            <div class="footer-text1">
                <div class="footer-text1-box1">
                    <a href="#"><p>개인정보취급방침</p></a>
                </div>
                <div class="footer-text1-box1">
                    <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                </div>
                <div class="footer-text1-box1">
                    <a href="#"><p>고객정보취급방침</p></a>
                </div>
                <div class="footer-text1-box1">
                    <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                </div>
                <div class="footer-text1-box1">
                    <a href="#"><p>이메일무단수집거부</p></a>
                </div>
                <div class="footer-text1-box1">
                    <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                </div>
                <div class="footer-text1-box1">
                    <a href="#"><p>법적고지</p></a>
                </div>
            </div>
            <div class="footer-text2">
                <p>Copyright &copy; Shoong. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>

</body>
</html>


