<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
          $("#header").load("./layout/header.html");
          $("#left_menu").load("./layout/left_menu.html");
          $("#footer").load("./layout/footer.html");
        });
    </script>

    <title>Shoong_sub</title>
</head>
<body>
<div id="wrap">
    <!-- 헤더 불러오기 -->
    <div id="header">
        <!-- <th:block th:replace="~{layout/header::header}"></th:block> -->
    </div>

    <!-- 서브 상단 -->
    <div id="sub_top">
        <p>
            <a href="#">홈</a>
            > 
            <a href="#">마이페이지</a>
            >
            <a href="#">내 계정</a>
        </p>
        <div>회원정보 수정</div>
    </div>

    <div class="container">
        <div class="inner flex">
            <!-- 좌측 메뉴 불러오기 -->
            <div id="left_menu"></div>
            <!-- 우측 컨텐츠 -->
            <div class="content">
                <div id="my_account">
                    <div class="bluebar"></div>
                    <div class="account_top">
                        <h2 class=" my_account_title">내 계정</h2>
                        <div class="my_account_sub_title">회원정보 수정</div>
                    </div>
                    <form action="/user/profileEdit" method="post">
                        <div class="account_edit_content">
                            <div class="account_profile_box">
                                <div class="profile_image">
                                    <img src="../static/images/user_profile_default_img 1.png" alt="프로필 이미지">
                                    <div class="profile_edit_icon">
                                        <img src="../static/images/user_profile_edit_icon.png" alt="프로필 수정">
                                    </div>
                                </div>
                            </div>
                            <div class="account_edit_info_box1">
                                <div class="account_edit_item">
                                    <span class="account_edit_label">아이디</span>
                                    <span id="user_id">user1</span> 
                                </div>
                                <div class="account_edit_item">
                                    <label class="account_edit_label">닉네임</label>
                                    <input type="text" id="nickname" name="nickname"></input>
                                </div>
                                <div class="account_edit_item">
                                    <label class="account_edit_label">이메일</label>
                                    <input type="text" id="email" name="email"></input>
                                </div>
                                <div class="account_edit_item">
                                    <label class="account_edit_label">전화번호</label>
                                    <input type="text" id="phone_number" name="phone_number"></input> 
                                </div>
                                <div class="account_edit_item">
                                    <label class="account_edit_label">비밀번호</label>
                                    <input type="password" id="password" name="password"></input> 
                                </div>
                            </div>
                            <a href="#" class="account_finish_btn" onclick="edit_finish()">수정 완료</a>
                        </div>
                    </form>
                    <div class="leave_box" onclick="confirm_leave()">
                        정말 회원탈퇴 하시겠어요?
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <!-- 푸터 불러오기 -->
    <div id="footer">
        <!-- <th:block th:replace="~{layout/footer::footer}"></th:block> -->
    </div>
</div>
</body> 