<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
          $("#header").load("./layout/header.html");
          $("#left_menu").load("./layout/left_menu.html");
          $("#footer").load("./layout/footer.html");
        });
    </script>

    <title>Shoong_sub</title>
</head>
<body>
<div id="wrap">
    <!-- 헤더 불러오기 -->
    <div id="header">
        <!-- <th:block th:replace="~{layout/header::header}"></th:block> -->
    </div>

    <!-- 서브 상단 -->
    <div id="sub_top">
        <p>
            <a href="#">홈</a>
            > 
            <a href="#">마이페이지</a>
            >
            <a href="#">내 계정</a>
        </p>
        <div>내 계정</div>
    </div>

    <div class="container">
        <div class="inner flex">
            <!-- 좌측 메뉴 불러오기 -->
            <div id="left_menu"></div>
            <!-- 우측 컨텐츠 -->
            <div class="content">
 
                <div id="my_account">
                    <div class="bluebar"></div>
                    <div class="account_top">
                        <h2 class=" my_account_title">내 계정</h2>
                        <div class="my_account_sub_title"></div>
                    </div>

                    <div class="account_content">
                        <div class="account_info">
                            <p>아이디</p>
                            <p>닉네임</p>
                            <p>이메일</p>
                            <p>전화번호</p>
                            <!-- 수정버튼 누르면 보여질 페이지 경로 어떻게..? -->
                            <a href="/myaccount_edit.html" class="account_info_edit_btn">회원정보 수정</a>
                        </div>
                        <div class="point_mgmt">
                            <h3>총 보유 포인트</h3>
                            <div class="point_score">P</div>
                            <a href="/myaccount_point.html" class="point_mgmt_btn">포인트 관리</a>
                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>

    <!-- 푸터 불러오기 -->
    <div id="footer">
        <!-- <th:block th:replace="~{layout/footer::footer}"></th:block> -->
    </div>
</div>
</body>