<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
          $("#header").load("./layout/header.html");
          $("#left_menu").load("./layout/left_menu.html");
          $("#footer").load("./layout/footer.html");
        });
    </script>

    <title>Shoong_sub</title>
</head>
<body>
<div id="wrap">
    <!-- 헤더 불러오기 -->
    <div id="header">
        <!-- <th:block th:replace="~{layout/header::header}"></th:block> -->
    </div>

    <!-- 서브 상단 -->
    <div id="sub_top">
        <p>
            <a href="#">홈</a>
            > 
            <a href="#">계획 구경하기</a>
        </p>
        <div>계획 구경하기</div>
    </div>

    <div class="container">
        <div class="inner">

            <!-- ★★★작업위치★★★ -->

        </div>
    </div>

    <!-- 푸터 불러오기 -->
    <div id="footer">
        <!-- <th:block th:replace="~{layout/footer::footer}"></th:block> -->
    </div>
</div>
</body>