@import url("font.css");

*{ box-sizing: border-box; margin: 0; padding: 0;}
a{ text-decoration: none; }

#wrap{
    height: 100%;
    width: 1920px;
    height: 100vh;
    background-image: url(../images/first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.first1{
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center; 
}
.left-logo{
    margin-left: 240px;
}
.white-box{
    position:absolute;
    left: 734px;
    top: 121px;
    width: 451px;
    height: 724px; 
    background-color: #FFFFFF;
    border-radius: 20px;
}
.white-box h2{
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 24px;
    color: #111;
}
.white-box .checking-box-style{
    border: none;
    background-color: #0B98FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
.input-box{
    margin: 0 32px;
}
.input-box label{
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #111;
}
.input-box input{
    border:none;
    background: #F7F7F7;
    border-radius: 10px;
}

/* 회원가입 */
#join .input-box input{
    width: 379.49px;
    height: 43.92px;
}
#join .input-box .userid-input-box{
    width: 278.02px;
}
#join .input-box #checking-userid{
    width: 96px;
}
#join .input-box .phone_number-input-box{
    width: 243px;
}
#join .input-box #checking-phone_number{
    width: 131px;
}
#join .submit-box #checking-join-submit{
    width: 88.27px;
    height: 43.92px;
    border-radius: 10px;
    margin-left: 180px;   
    margin-top: 25px;
}
#join .input-box .warning-text{
    width: 379.49px;
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
    margin-bottom: 25px; 
    padding: 0; 
}
#join .input-box #nickname, #phone_number{
    margin-bottom: 15px;
}
#join .input-box #password{
    margin-bottom: 9px;
}
#join .input-box #email{
    width: 175px;
}
#join .input-box select{
    width: 183px;
    height: 43.92px;
    border:none;
    background: #F7F7F7;
    border-radius: 10px;
    font-size: 14px; 
    padding-left: 10px;
}
input::placeholder{
    color: #AAAAAA;
    font-size: 14px;
    padding-left: 12px;
}   

/* 로그인 페이지 */
#login input{
    width: 382px;
    height: 50px;
    border-radius: 10px;
}
#login .userid-input-box{
    margin-bottom: 38px;
}
#login .submit-box #checking-login-submit{
    margin: 0 32px;
    margin-top: 57px;
    margin-bottom: 15px;
}
#login .search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}
#login .search-button span{
    color: #828282;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
}
#login .search-button a{
    color: #828282;
    font-weight: bold;
    font-size: 14px;
}
#login .sns-button{
    margin: 0 35px;
}
#login .sns-login-button{
    width: 382px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden; /* 자식 요소가 넘치는 경우 숨기기 */
}
#login .sns-login-button #google-login-box{
    background-color: #F7F7F7;
}
#login .sns-login-button #kakao-login-box{
    background-color: #FFEB3B;
}
#login .sns-login-button #naver-login-box{
    background-color: #00C73C;
}
#login .sns-login-button .items{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}
#login .sns-login-button .items img{
    width: 27px;
    height: 27px;
    margin: 11px;
}
#login .sns-login-button .items span{
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
}

