<script defer src="../../static/js/script.js"></script>

<div class="inner">
    <div class="logo">
        <a href="#" id="logoimg"><img src="./images/top_logo.png" alt=""></a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">계획 세우기</a></li>
            <li><a href="#">계획 구경하기</a></li>
            <li><a href="#">후기 구경하기</a></li>
        </ul>
    </div>
    <div class="login">
        <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </div>
</div>

