<script defer src="./js/script.js"></script>

<div class="mini_box">
    <a href="#">
        여행계획 세우기
        <p>바로가기 ></p>
    </a>
</div>
<div class="menu">
    <div>
        <p>내 계정</p>
        <ul>
            <li><a href="#">회원정보 수정</a></li>
            <li><a href="#">포인트 관리</a></li>
        </ul>
    </div>
    <div>
        <p>내 일정</p>
        <ul>
            <li><a href="#">계획 관리</a></li>
            <li><a href="#">후기 관리</a></li>
            <li>
                <div id="togle_menu">좋아요<img src="./images/left_menu_arrow.png" alt=""></div>
                <ul class="hidden_menu">
                    <li><a href="#">계획 리스트</a></li>
                    <li><a href="#">후기 리스트</a></li>
                </ul>
            </li>
            <li><a href="#">작성한 댓글</a></li>
        </ul>
    </div>
</div>
