<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<settings>
 		<!-- java는 camelcase, sql은 대소문자 구분이 없기 때문에 설정-->
 		<setting name="mapUnderscoreToCamelCase" value="true" />
 	</settings>
</configuration>