@import url("font.css");

*{ box-sizing: border-box; margin: 0; padding: 0;}
a{ text-decoration: none; }

#first_page{
    height: 100%;
    width: 1920px;
    height: 100vh;
    background-image: url(../images/first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.first1{
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center; 
}
.left_logo{
    margin-left: 240px;
}
.white_box{
    position:absolute;
    left: 734px;
    top: 121px;
    width: 451px;
    height: 724px; 
    background-color: #FFFFFF;
    border-radius: 20px;
}
.white_box h2{
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 24px;
    color: #111;
}
.white_box .checking_box_style{
    border: none;
    background-color: #0B98FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
.input_box{
    margin: 0 32px;
}
.input_box label{
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #111;
}
.input_box input{
    border:none;
    background: #F7F7F7;
    border-radius: 10px;
}

/* 회원가입 */
#join .input_box input{
    width: 379.49px;
    height: 43.92px;
}
#join .input_box .user_id_input_box{
    width: 278.02px;
}
#join .input_box #checking_user_id{
    width: 96px;
}
#join .input_box .phone_number_input_box{
    width: 243px;
}
#join .input_box #checking_phone_number{
    width: 131px;
}
#join .submit_box #checking_join_submit{
    width: 88.27px;
    height: 43.92px;
    border-radius: 10px;
    margin-left: 180px;   
    margin-top: 25px;
}
#join .input_box .warning_text{
    width: 379.49px;
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
    margin-bottom: 25px; 
    padding: 0; 
}
#join .input_box #nickname, #phone_number{
    margin-bottom: 15px;
}
#join .input_box #password{
    margin-bottom: 9px;
}
#join .input_box #email{
    width: 175px;
}
#join .input_box select{
    width: 183px;
    height: 43.92px;
    border:none;
    background: #F7F7F7;
    border-radius: 10px;
    font-size: 14px; 
    padding-left: 10px;
}
input::placeholder{
    color: #AAAAAA;
    font-size: 14px;
    padding-left: 12px;
}   

/* 로그인 페이지 */
#login input{
    width: 382px;
    height: 50px;
    border-radius: 10px;
}
#login .user_id_input_box{
    margin-bottom: 38px;
}
#login .submit_box #checking_login_submit{
    margin: 0 32px;
    margin-top: 57px;
    margin-bottom: 15px;
}
#login .search_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}
#login .search_button span{
    color: #828282;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
}
#login .search_button a{
    color: #828282;
    font-weight: bold;
    font-size: 14px;
}
#login .sns_button{
    margin: 0 35px;
}
#login .sns_login_button{
    width: 382px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden; /* 자식 요소가 넘치는 경우 숨기기 */
}
#login .sns_login_button #google_login_box{
    background-color: #F7F7F7;
}
#login .sns_login_button #kakao_login_box{
    background-color: #FFEB3B;
}
#login .sns_login_button #naver_login_box{
    background-color: #00C73C;
}
#login .sns_login_button .items{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}
#login .sns_login_button .items img{
    width: 27px;
    height: 27px;
    margin: 11px;
}
#login .sns_login_button .items span{
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
}
/* 여기까지 로그인페이지 */

/* 마이페이지 - 내 계정 */
#my_account .bluebar{
    width: 1200px;
    border: 1px solid rgb(0, 107, 223);
}

#my_account .account_top{
    margin-top: 29px;
    margin-bottom: 23px;
}
#my_account .account_content{

}



div,footer{
    outline: 1px solid black;
}

